In [1]:
#Import Dependencies
import sqlalchemy
from sqlalchemy import create_engine, inspect, text

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime as dt

In [2]:
#Database information
SQL_USERNAME = "postgres"
SQL_PASSWORD = "postgres"
SQL_IP = "localhost"
PORT = 5432
DATABASE = "Project_02_Group_06"

In [3]:
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [4]:
# explore and understand the data

# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# Using the inspector to print the column names within each table and its types
for table in tables:
    print(table)
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])
        
    print()

category
category_id VARCHAR(10)
category VARCHAR(100)
last_updated TIMESTAMP

subcategory
subcategory_id VARCHAR(10)
subcategory VARCHAR(100)
last_updated TIMESTAMP

contacts
contact_id INTEGER
first_name VARCHAR(50)
last_name VARCHAR(50)
email VARCHAR(100)
last_updated TIMESTAMP

campaign
cf_id INTEGER
contact_id INTEGER
company_name VARCHAR(100)
description VARCHAR(200)
goal INTEGER
pledged INTEGER
outcome VARCHAR(20)
backers_count INTEGER
country VARCHAR(50)
currency VARCHAR(5)
launch_date TIMESTAMP
end_date TIMESTAMP
staff_pick BOOLEAN
spotlight BOOLEAN
category VARCHAR(100)
subcategory VARCHAR(100)
category_id VARCHAR(10)
subcategory_id VARCHAR(10)
last_updated TIMESTAMP

In [5]:
df1 = pd.read_csv("Resources/category.csv")
df1.head()

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video

In [6]:
df1['last_updated'] = dt.now()

In [7]:
df1.to_sql("category", schema="public", con=engine, index=False, if_exists="append", method="multi")

9

In [8]:
df2 = pd.read_csv("Resources/subcategory.csv")
df2.head()

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2         rock
2        subcat3          web
3        subcat4        plays
4        subcat5  documentary

In [9]:
df2['last_updated'] = dt.now()

In [10]:
df2.to_sql("subcategory", schema="public", con=engine, index=False, if_exists="append", method="multi")

24

In [11]:
df3 = pd.read_csv("Resources/contacts.csv")
df3.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [12]:
df3['last_updated'] = dt.now()

In [13]:
df3.to_sql("contacts", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000

In [14]:
df4 = pd.read_csv("Resources/campaign.csv")
df4.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category,subcategory,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,False,False,food,food trucks,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,False,True,music,rock,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,False,False,technology,web,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,False,False,music,rock,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,False,False,theater,plays,cat4,subcat4

In [15]:
df4['last_updated'] = dt.now()

In [16]:
df4.to_sql("campaign", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000